body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to right, #e0ecff, #ffffff);
}

form input:focus {
    border-color: #0078d7;
    box-shadow: 0 0 0 0.2rem rgba(0, 120, 215, 0.25);
}

h3 {
    font-weight: 600;
}

.container {
    margin-top: 8vh !important;
}
